<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %>

      <div class="app">
        <div class="heading">
          <h2>#staypositive, leave nice coding message</h2>
        </div>

        <a class="btn btn-info" href="/new">Add note</a>
        <ul>
          <% notes.forEach(note => { %>
          <li>
            <p><%= note.note %></p>
            <span>posted by: <%- note.author %> </span>
            <span>date <%- new Date(note.createdAt).toLocaleDateString('en-GB') %> </span>
          </li>
          <% }) %>
        </ul>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
